body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
}

header {
    background: url("../img/marquee-stars.svg") #074e68;
    background-size: cover;
    padding: 1.5em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: 300;
}

#main-content {
    margin: 3em 0 1.5em;
}

.hide {
    display: none;
}

.panel.entry { /*purple ish*/
    border-color: rgb(142, 142, 168);
    background: rgb(198, 198, 231);
}

.button {
    width: 100%;
}
.bump {
    margin-top: 1em;
}

.dormant {
    display: none;
}
